.Full-Header {
    background-color: #1F2937;
    
    margin: auto;
    display: flex;
}
.Headera {
    font-size: 24px;
    color: #f9faf8;
    display: inline;
    margin-left: 100px;
}
.Headerb {
    font-size: 18px;
    color: #e5e7eb;
   display:inline;
   margin-left: 30%;
   font-weight: 200%;

}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
li {
    margin-left: 15px;
}
.First {
    background-color:#1F2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    padding-left: 100px;
    width: 100%;
}
#this {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

}
.img1 {
    display: flex;
   border-radius: 8px;
   height:300px;
   width:400px;
   object-fit: cover;
   margin-left: 40px ;
}
.second {

}
.title {
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
}
#image {
    width: 200px;
    height: 200px;
    border-color: #3882f6;
    border-width: 6em;

}
.all {
   display: flex;
}
.info {
    flex: 25%;
    padding: 5px;
}
.third {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}
#quote {
    font-size: 18px;
    font-weight: 900;
    display: flex;
    font-style: inherit;
}
.fourth {
    background-color: rgb(58, 75, 255)
    color: #e5e7eb;
    font-size: 12px;
}
#call {
    font-weight: 700;
    font-size: 18px;
}
.Footer {
    background-color: #1F2937;
    color: white;
    position: fixed; bottom: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
}
