.full header {

}

.first {

}
.second {

}
.third {

}
.fourth {

}
.footer {
    background-color: #1F2937;
    color: white;
    position: fixed; bottom: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
image {
    width: 50px
    height: 50px
}